<p class="categoty-list"><%=category.categoryName%></p>

<% mails.forEach(mail => { %>
        <img src="<%=mail.url%>">
        <%= mail.title %>
        <form method="POST" action="/category/<%=mail.id%>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
        
        
        <form method="POST" action="/category/<%=mail.id%>/?_method=PUT">
            <label for="content">Edit</label>
            <textarea type="text" id="content" name="comment"></textarea>
            <br>
            <input type="submit" value = "Edit">
            <input type="submit" value = "Submit">
        </form>
        <% }) %>