<div class="cat-name"><p><%=category.categoryName%>:</p></div>

<% mails.forEach(mail => { %>
<div class="mail-title">
  <b>Title:</b> <%= mail.title %> <br />
  <b>Date:</b> <%= mail.date %>
</div>
<img src="<%=mail.url%>" />
<form method="POST" action="/<%=mail.id%>/?_method=DELETE">
  <input type="submit" value="Delete" />
</form>

<form method="POST" action="/<%=mail.id%>/?_method=PUT">
  <input type="submit" value="Submit" /><br /><br />
  <div class="edit"><label for="title">Edit Title of Mail:</label></div>
  <input type="text" value="<%=mail.title%>" id="title" name="title" />
  <br />
</form>
<% }) %>
