<div class="cat-name"><p><%=category.categoryName%>:</p></div>

<% mails.forEach(mail => { %>
       <div class="mail-title">Title: <%= mail.title %></div>
        <img src="<%=mail.url%>">
        <form method="POST" action="/mail/<%=mail.id%>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
        
        
        <form method="POST" action="/mail/<%=mail.id%>/?_method=PUT">
            <label for="title">Edit Title of Mail</label>
            <input type="text" value="<%=mail.title%>" id="title" name="title">
            <br>

            <input type="submit" value = "Submit">
        </form>
        <% }) %>