<html>
<title>Home</title>
<head>
  <script>
   
  </script>
</head>
<body>
  <div><%=name%></div>
  <div><%=date%></div>
  <div><%=title%></div>
<div><%=categoryId%></div>
<img src="/<%=img%>"/>
  </body>
  </html>